
body {
    background-color: #d3bb7c;
}

.marker {

    width: 0;
    height: 0;

    margin: 0.5em;

    border-style: solid;
    border-color: rgba(0, 0, 0, 0);

    border-width: 1.5em;
    border-left-color: green;
    transform-origin: 25%;
    transition: transform 0.4s;

}

aside {
  width: 60%;
}

div.content {
    background-color: white;
    border: 0;
    white-space: pre;
    width: 50em;
    margin-left: 2em;
    transition: 0.4s;

    width: 0;
    max-height: 0;
    overflow: hidden;
}

.marker:hover {
    transform: rotate(90deg);
}

.marker:hover+div.content, .marker+div.content:hover {
    width: 60%;
    max-height: 900px;
    border: outset #88a 0.3em;
    border-radius: 0.5em;
}

section {
    width: 65%;
}
